body, html {
  background-image: url(../images/background.png);
  font-family: 'Handlee', cursive;
  padding-top: 20px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}
.card {
  opacity: .7
}
.material-icons {
  display: block !important;
  text-align: center;
}
.page-title {
  text-align: center;
}
input::placeholder {
  color: #7a7c7c;
  font-size: 20px;
}
.chip {
  cursor: pointer;
  background-color: #26a69a;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: .9;
  font-size: 19px
}
.hold-my-gif {
  float: left;
  padding-top: 50px;
}
.gifs {
  background: rgba(255, 255, 255, 0.7)
}
h3 {
  text-align: center;
  margin-top: 0;
}
.actual-gif {
  margin-right: 10px;
  display: block;
  align-content: center;
  border-radius: 4px;
}
.rating, .title {
  margin-top: 0
}
.page-footer {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.7);
  color: black;  
  border-top: 5px solid teal
}
.footer-text {
  padding-bottom: 20px;
  text-align: center;
}

